:root {
  --yellow: #f9f871;
  --green: #22cc9c;
  --blue: #3a83b6;
  --red: #d66ca3;
  --dark-blue: #004d7c;
  --dark-blue-tint: #016596;
  --bg: #a4e3ff;
  --header-height: 80px;
  --footer-height: 220px;
  --ramen-img-padding: 1rem;

  font-family: "Press Start 2P", cursive;
  font-size: 12px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #222222;
  border-radius: 100px;
}

body {
  margin: 0;
  padding: 0;

  overflow: hidden;

  user-select: none;
  background-image: url("../img/ramen_game_bg.png");
  background-repeat: repeat;
  background-position: 10px 100px;
  background-attachment: fixed;
  background-color: var(--bg);

  scrollbar-width: auto;
  scrollbar-color: #222222 #e4e4e4;
  scrollbar-gutter: stable;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.flex-container > .flex-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  background-color: var(--blue);
  padding: 0.5rem 1.5rem;

  flex-wrap: nowrap;
  font-size: 1rem;
  height: var(--header-height);
}

.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  font-size: 2em;

  flex: 0 0 70px;
  color: #ffffff;
}

.header-left > a {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-left > a:hover {
  cursor: pointer;
  color: var(--yellow);
}

.about {
  margin-right: 5px;
}

.title {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: var(--yellow);
  line-height: 1;
  flex: 1 1 280px;
}

.subtitle {
  text-align: center;
  font-size: 0.8em;
  color: #ffffff;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  font-size: 1em;
  color: var(--yellow);
  flex-direction: column;

  flex: 0 0 70px;
}

.header-right > div {
  text-align: center;
  line-height: 1em;
  padding: 0.5em 1em 0.3em;
}

.container {
  width: 100%;
  max-width: 800px;
  /* max-height: 700px; */
  margin: auto;
}

.timer {
  background-color: var(--green);
  color: #ffffff;
}

.timer.timeout {
  background-color: var(--red);
}

#coins {
  background-color: #ffffff;
  color: var(--blue);
}

#coins.lastcoin {
  background-color: var(--red);
}

main {
  flex: 8 1 250px;
}

#buppyRamen {
  padding: var(--ramen-img-padding) 0;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;
  height: 100%;
}

#buppyRamen img {
  max-width: 100%;
  height: auto;
  max-height: calc(
    100vh - var(--footer-height) - var(--header-height) -
      var(--ramen-img-padding) * 2
  );

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.eyes {
  z-index: 40;
  display: none;
}

.food1 {
  z-index: 30;
}

.food2 {
  z-index: 35;
}

#bodyTable {
  z-index: 20;
}

#buppyBg {
  z-index: 10;
}

footer {
  height: var(--footer-height);
  background-color: var(--blue);
  /* flex: 0 0 var(--footer-height); */
  display: flex;
  justify-content: center;
  align-items: center;
  color: 1.5rem;
}

footer .btn {
  margin-top: 0.8em;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 10em;
  padding: 0.8em 1.5em;
  cursor: pointer;
  font-size: 0.8em;
  box-shadow: 0px 0px 12px 0px #999999;
}

footer .btn:hover {
  box-shadow: 0px 0px 12px 0px #ffffff;
  border: 2px solid #222222;
  background-color: #222222;
  color: #ffffff;
}

#message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#message h1 {
  width: 100%;
  padding-top: 1em;
  font-size: 1.1em;
  margin: 0;
  text-align: center;
}

#message h1.won {
  color: var(--green);
}

#message h1.lost {
  color: var(--red);
}

#message .answer {
  line-height: 2em;
  width: 100%;
  padding: 0.8rem 0;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

#message .answer .password {
  color: var(--green);
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 1.1em;
}

#board {
  font-size: 1.5em;
  color: #ffffff;
  letter-spacing: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  text-transform: uppercase;
  text-align: center;
  padding: 0.8em 0.3em;
  margin: 0 5rem;
  line-height: 1.2em;
}

#board.won {
  background-color: var(--green);
  color: #ffffff;
}

#board.lost,
#keyboard.lost,
#keyboard.won {
  display: none;
}

#keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  color: var(--blue);
  border-radius: 0.5em;
  width: 2em;
  height: 2em;
  margin: 0.3em;
  cursor: pointer;
  font-size: 1em;
  padding: 3px 0 0 3px;
}

.letter:not(.hit):not(.not-hit):hover {
  border: 2px solid var(--yellow);
  color: var(--yellow);
  background-color: #555555;
  box-shadow: 0px 0px 12px 0px #999999;
}

.letter.hit {
  border: 2px solid var(--green);
  background-color: var(--green);
  cursor: default;
}

.letter.not-hit {
  background-color: var(--red);
  border: 2px solid var(--red);
  cursor: default;
}

/* Shaking Animation */

.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Nav */

nav {
  z-index: 800;
  transition: all 0.8s;
}

nav > div {
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: -250px;
  width: 250px;
  max-width: 100%;
  height: 100%;
  background-color: var(--dark-blue);
  z-index: 888;
  /* transform: translate(-50%, -50%); */
  /* pointer-events: none; */

  box-shadow: rgba(22, 22, 22, 0.48) 6px 2px 16px 0px,
    rgba(0, 0, 0, 0.8) -6px -2px 16px 0px;
  transition: all 0.8s;
  overflow-y: auto;
}

nav:target {
  visibility: visible;
  opacity: 1;

  pointer-events: auto;
}

nav:target > div {
  left: 0;
}

nav .menu-title {
  color: var(--yellow);
  padding: 3rem 2rem 1rem;
  border-bottom: 1px solid var(--yellow);
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  position: relative;
}

nav li a {
  margin: 0;
  list-style: none;
  display: block;
  padding: 1.2em 2em;
  color: #ffffff;
  text-decoration: none;
}

nav li a.on-off {
  position: absolute;
  right: 0;
  top: 0.4em;
}

nav li a i {
  font-size: 140%;
  margin-left: -0.2em;
  margin-right: -0.1em;
}

nav li a img {
  width: 1.4em;
  margin-left: -0.2em;
  margin-right: -0.1em;
}

nav li:hover {
  background-color: var(--dark-blue-tint);
}

.menu-close {
  color: var(--yellow);
  cursor: pointer;
  font-size: 80%;
  position: absolute;
  right: 2rem;
  text-align: center;
  top: 3rem;
  /* width: 70px; */
  text-decoration: none;
}

.menu-close:hover {
  color: var(--dark-blue-tint);
}

/* Modal */
.modal-window {
  z-index: 999;

  transition: all 0.3s;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 50vw;
  max-width: 400px;
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: var(--yellow);
  overflow-y: auto;
  max-height: 80%;
}

.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 1.2rem;
  margin: 0 0 15px;
  padding-top: 0;
  color: var(--blue);
}

.modal-close {
  color: var(--dark-blue-tint);
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: #aaaaaa;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

.modal-content {
  line-height: 2rem;
  font-family: "Poppins", sans-serif;
  color: #222222;
  font-size: 1.2rem;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Responsive */

@media screen and (min-width: 1921px) {
  :root {
    --header-height: 120px;
    --footer-height: 280px;
  }
  nav > div {
    font-size: 1.5rem;
    left: -400px;
    width: 400px;
  }
  header {
    font-size: 1.3rem;
  }

  footer {
    font-size: 1.8rem;
    /* width: 2.5rem;
    height: 2.5rem; */
    /* padding: 2px 0 0 2px; */
  }
}

@media screen and (max-width: 1920px) and (min-width: 941px) {
  :root {
    --header-height: 100px;
    --footer-height: 250px;
  }
  nav > div {
    font-size: 1.2rem;
    left: -300px;
    width: 300px;
  }

  header {
    font-size: 1.2rem;
  }

  footer {
    font-size: 1.5rem;
    /* width: 2.5rem;
    height: 2.5rem; */
    /* padding: 2px 0 0 2px; */
  }
}

@media screen and (max-width: 940px) and (min-width: 521px) {
  :root {
    --ramen-img-padding: 0.8rem;
  }

  /* header {
    font-size: 0.8rem;
  } */

  .modal-window > div {
    width: 80vw;
  }

  footer {
    font-size: 1.3rem;
    /* width: 2rem;
    height: 2rem; */
    /* padding: 2px 0 0 2px; */
  }
}

@media screen and (max-width: 520px) {
  :root {
    --ramen-img-padding: 0.5rem;
  }

  header {
    font-size: 0.8rem;
    flex-wrap: wrap;
  }

  .header-left {
    flex-basis: 1em;
  }

  .title {
    margin-left: -1em;
  }

  .header-right {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    flex-grow: 1;
    flex-basis: 50vw;
    margin: 5px 0 0 0;
  }

  .header-right > div {
    flex-basis: 100px;
  }

  .modal-window > div {
    width: 80vw;
  }

  footer {
    font-size: 1rem;
    /* width: 1.8rem;
    height: 1.8rem;
    padding: 2px 0 0 2px; */
  }

  footer .btn {
    margin-top: 0.8rem;
  }
}

@media screen and (max-width: 300px) {
  header {
    font-size: 0.6rem;
  }

  .title {
    margin: 5px 0 0 0;
    flex-basis: 200px;
  }
}
